/* skip link */
.skip {
	position: absolute;
	top: -1000px;
	left: -1000px;
	height: 1px;
	width: 1px;
	text-align: left;
	overflow: hidden;
	background-color: #fff;
	padding: .5rem;
	color: black;
	font-size: 1.5rem;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
	left: 0;
	top: 0;
	width: auto;
	height: auto;
	overflow: visible;
	z-index: 100;
}

p {
	font-size: 1.2rem;
	line-height: 1.7;
}


.signature {
	display: grid;
	grid-template-columns: 1fr 13ch;
}

.signature p {
	grid-column: 2/3;
}


.fa-feather-alt:before {
    vertical-align: sub;
}


.story h2 {
	font-size: 3rem;
}

fieldset {
	border: 1px solid #ddd !important;
	margin: 0;
	min-width: 0;
	padding: 1rem;
	position: relative;
	border-radius: 4px;
	background-color: #f5f5f5;
	padding-left: 1rem !important;
}

legend {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 0px;
	width: auto;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px 5px 5px 10px;
	background-color: #ffffff;
}

legend {
	font-size: 1.5em;
	color: #18BC9C;
}

input,
textarea {
	width: 90%;
}

input[type=checkbox],
input[type=radio] {
	width: 1rem;
}

.btn-social {
	display: flex;
	align-items: center;
	width: 4.5rem;
	height: 4.5rem;
	font-size: 3rem;
	line-height: 2rem;
	text-align: center;
}

header.masthead h1 {
	letter-spacing: 1rem;
}

header.masthead h2 {
	font-size: 2rem;
}

@media (min-width: 992px) {
	header.masthead h2 {
		font-size: 2.5em;
	}
}
