p {
	font-size: 1.2rem;
	line-height: 1.7;
}

.story h2 {
	font-size: 3rem;
}

fieldset {
	border: 1px solid #ddd !important;
	margin: 0;
	xmin-width: 0;
	padding: 10px;
	position: relative;
	border-radius: 4px;
	background-color: #f5f5f5;
	padding-left: 10px !important;
}

legend {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
	width: 35%;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px 5px 5px 10px;
	background-color: #ffffff;
}

input,
textarea {
	width: 90%;
}

input[type=checkbox],
input[type=radio] {
	width: 1rem;
}

header.masthead h1 {
	letter-spacing: 1rem;
}

header.masthead h2 {
	font-size: 2rem;
}

@media (min-width: 992px) {
	header.masthead h2 {
		font-size: 2.5em;
	}
}
